/*===========================================================
 * Inline Labels
 * Call attention to or flag any phrase in your body text
 * Markup
 *  <span class="label">Default</span>
 *  <span class="label important">Important</span>
 *===========================================================*/
.label {
    background-color: #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 9.75px;
    font-weight: bold;
    padding: 1px 3px 2px;
    text-transform: uppercase;
}
.label.important {
    background-color: #C43C35;
}
.label.warning {
    background-color: #F89406;
}
.label.success {
    background-color: #46A546;
}
.label.notice {
    background-color: #62CFFC;
}