/*==================================================================
 *  Media Grids
 *  Html Markup
 *   <ul class="mediaGrid clearfix">
 *     <li><a href="#"><img alt="" src="http://placehold.it/210x150" class="thumbnail" /></a></li>
 *     <li><a href="#"><img alt="" src="http://placehold.it/210x150" class="thumbnail" /></a></li>
 * 		 <li><a href="#"><img alt="" src="http://placehold.it/210x150" class="thumbnail" /></a></li>
 *  	 <li><a href="#"><img alt="" src="http://placehold.it/210x150" class="thumbnail" /></a></li>
 *  	 <li><a href="#"><img alt="" src="http://placehold.it/210x150" class="thumbnail" /></a></li>
 * 	 </ul>
 *
 *==================================================================*/
.mediaGrid {
  margin-left: -20px;
  margin-bottom: 0;
  zoom: 1;
}
.mediaGrid li {
  list-style: none;
  margin: 0;
  display: inline;
}

.mediaGrid a {
  float: left;
  padding: 4px;
  margin: 0 0 20px 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.mediaGrid a:hover {
  border-color: #0069d6;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.mediaGrid a img {
  display: block;
}


